body {
  font-family: 'Merriweather', serif;
  text-align: center;
  background-color: #ffd5e5;
  color: #dd2c00;
  margin: 0;
}

h1 {
  margin: 0;
  font-family: 'Sacramento', cursive;
  font-size: 60px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-family: 'Montserrat', sans-serif;
}

.top-container {
  background-color: #b2ebf2;
  padding-top: 80px;
}

.middle-container {
  padding: 80px;
}
#bottom-cloud {
  display: block;
  margin: 20px auto;
  position: relative;
  right: 230px;

}

#top-cloud {
  display: block;
  margin: 20px auto;
  position: relative;
  left: 230px;
}
